


<div class="commentauthorbodybox">
<h3>Автор: <%= User.find(comment.user_id).username %></h3>
<p><%= comment.body %></p>
</div>

<% if user_signed_in? %>
<div class="deletecomment">
  <%= link_to 'Удалить комментарий', [comment.post, comment],
             :confirm => 'Вы уверены?',
             :method => :delete %>
</div>
<% end %>
