
<p class="comments_author">
  <b>Автор:</b>
  <%= User.find(comment.user_id).username %>
</p>

<p>
	<b>Комментарий:</b>
	<%= comment.body %>
</p>
<% if user_signed_in? %>
<p>
	<p>
  <%= link_to 'Удалить комментарий', [comment.post, comment],
               :confirm => 'Вы уверены?',
               :method => :delete %>
</p>
<% end %>
</p>
