<%= form_for([@post, @post.comments.build]) do |f| %>

	<div class="comment_field">
		<%= f.text_area :body %>
	</div>
		<%= f.submit 'Написать комментарий', class: "button_create_comment" %>
<% end %>
