<%= stylesheet_link_tag "posts" %>

<div class="edit_post_container">

<h1>Редактирование поста</h1>


<%= render 'form', post: @post %>

<div class="edit_back_buttons">

<%= link_to 'Читать', @post %> 
<%= link_to 'Назад', posts_path %>
</div>
</div>
