<%= stylesheet_link_tag "posts" %>
  <div class="header">
      <h1>Подборки</h1>
<div class="promo">
  <a href="#">Промо</a>
</div>
<div class="about">
  <a class="pages" href="#">О нас</a>
</div>
<div class="publ">
  <a href="#">Подборки</a>
</div>

</div>
<div class="edit">
Редактирование поста
</div>

<%= render 'form', post: @post %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
