<%= stylesheet_link_tag "posts" %>
<div class="post_create_container">

<h1>Создать пост</h1>

<%= render 'form', post: @post %>

<div class="edit_back_buttons">


<%= link_to 'Назад', posts_path %>
</div>
</div>
