<h1>About#index</h1>
<p>Find me in app/views/about/index.html.erb</p>
<div class="promo">
<a href="promo">Промо</a>
</div>
<div class="about">
<a  href="about">О нас</a>
</div>
<div class="publ">
<a href="posts">Подборки</a>
</div>
