// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
  width: 100%;
  background-color: #FFFFFF;
  margin: 0;
  display: block;
  position: relative;
 font-family: 'Gotham', sans-serif;
}
a{
  text-decoration: none;
}
.promo a{
  font-size: 20px;
  font-style: normal;
  color: #FFFFFF;
  position: absolute;
  left: 1005px;
  top: 55px;
}
.promo a{
  font-size: 20px;
  font-style: normal;
  color: #FFFFFF;
  position: absolute;
  left: 1005px;
  top: 55px;
}
.about a{
  font-size: 20px;
  font-style: normal;
  color: #FFFFFF;
  position: absolute;
  left: 1114px;
  top: 55px;
}
.publ a{
  font-size: 20px;
  font-style: normal;
  color: #FFFFFF;
  position: absolute;
  left: 1212px;
  top: 55px;
}
