/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */
/* @import 'reset.css'; */
/* @font-face {
  font-family: 'Montserrat';
  src: url('Montserrat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */
/* @font-face {
font-family: "Montserrat";
font-weight: normal;
font-style: normal;
src: url('../fonts/Montserrat/Montserrat.ttf') format('truetype');
} */


/* body {
  font-family: 'Gotham', sans-serif;
  font-size: 1.1vw;
  line-height: 1.3vw;
  font-style: normal;

} */
/* @font-face {
font-family: "Gotham";
src: url('../fonts/Gotham.otf') format('opentype');
} */
body{
  font-family: 'Gotham', sans-serif;
}
