/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */
/* @import 'reset.css'; */
/* @font-face {
  font-family: 'Montserrat';
  src: url('Montserrat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */
@font-face {
font-family: "Montserrat";
font-weight: normal;
font-style: normal;
src: url('../fonts/Montserrat/Montserrat.ttf') format('truetype');
}

body{
  font-family: 'Montserrat', sans-serif;
  background: #EAEAEA;
  /* min-height: 1507px; */
  min-height: 100vh;
}

body,html{
  margin: 0;
  padding: 0;

}



.top_menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 70px;
  background: white;
  top: 0;
  left: 0;
  position: absolute;

}
.top_menu a {
  margin: 0 20px;
}
.logo {
  width: 50px;
  height: 50px;
  margin-top: 0%;
  margin-left: 2%;
  background: url("logo.svg");
  background-size: contain;
}



.categorylink{
  display: flex;
  gap: 20px;
  margin-right: 58.5%;
}

.restaurants_link{
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 8%;
  height: 20%;
  flex-direction: row;
  align-items: center;

}

.greendot{
  position: relative;
  display: flex;
  width: 10px;
  height: 10px;
  background: #75B875;
  border-radius: 100%;
  /* margin-right: 5%; */
}

.restaurants_link p{
  position: relative;
  display: flex;
  margin: 0;
  color: #575757;

}

.cafes_link{
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 8%;
  height: 20%;
  flex-direction: row;
  align-items: center;

}

.bluedot{
  position: relative;
  display: flex;
  width: 10px;
  height: 10px;
  background: #4F8AEA;
  border-radius: 100%;
  /* margin-right: 5%; */
}

.cafes_link p{
  position: relative;
  display: flex;
  margin: 0;
  color: #575757;

}

.link{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link a{
  margin: 8px;
}


.bars_link{
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 8%;
  height: 20%;
  flex-direction: row;
  align-items: center;

}

.orangedot{
  position: relative;
  display: flex;
  width: 10px;
  height: 10px;
  background: #FE724D;
  border-radius: 100%;
  /* margin-right: 5%; */
}

.bars_link p{
  position: relative;
  display: flex;
  margin: 0;
  color: #575757;
}

.dishes_link{
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 8%;
  height: 20%;
  flex-direction: row;
  align-items: center;

}

.yellowdot{
  position: relative;
  display: flex;
  width: 10px;
  height: 10px;
  background: #FFBE4D;
  border-radius: 100%;
  /* margin-right: 5%; */
}

.dishes_link p{
  position: relative;
  display: flex;
  margin: 0;
  color: #575757;

}

.topmenu_user{
  display: flex;
  position: relative;
}
.image_avatar{
  position: relative;
  display: flex;
  height: 40px;
  width: 40px;
  background: url("avatar.svg");
}

.topmenu_user a{
  margin: 0;
}


.topmenu_search{
  display: flex;
  position: relative;
  margin-right: 2%;
}
.icons_search{
  position: relative;
  display: flex;
  height: 18px;
  width: 18px;
  background: url("A_Icons_Search.svg");
}
.topmenu_search:hover{
cursor: pointer;
}

.acc {
  display: flex;
  align-items: center;
  position: relative;
  top: 20%;
  left: 70%;
  justify-content: flex-start;
  gap: 5%;
  width: 30%;

}
.edit_back_buttons{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  height: 20px;
  margin-bottom: 40px;
  margin-top: 3%;
}
.edit_back_buttons a {
  margin-right: 15%;
}
.signup_forgot_buttons{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 35%;
  height: 20px;
  margin-bottom: 40px;
  margin-top: 3%;
}
.signup_forgot_buttons a {
  margin-right: 10%;
}
.field{
  margin-top: 2%;
}
.field input{
  margin-top:1%;
}
/* th{
  width: 1%;
} */



.recommendation_main {
 display: block;
 width: 100%;
 background: green;
 height: 20%;
 position: absolute;
 top: 0%;
}

.cat_title{
  text-align: center;
  position: relative;
  display: block;
  margin-top: 8%;
  font-size: 36px;
  font-weight: 600;

}



.post-wrapper {
background: #FFFFFF;
border-radius: 10%;
overflow: hidden;
transition: transform .3s;
margin-top: 0.5%;
margin-left: 0.5%;
margin-right: 0.5%;

}

.post-wrapper:hover {
transform: scale(1.007);
}

.post-wrapper .info {
margin-left: 8%;
margin-right: 8%;
margin-top: 8%;

}

.post-wrapper .info h2 {
font-size: 22px;
font-weight: 600;

}

.post-wrapper .info p {
margin-top: 0;
font-size: 16px;
font-weight: 400;
margin-bottom: 5%;
width: 100%;
display: inline-block;
position: relative;
}

.add {
width: 47.5px;
height: 46px;
border-radius: 100%;
background: #75B875;
margin-top: 4%;
display: block;
}

.add_blue {
width: 47.5px;
height: 46px;
border-radius: 100%;
background: #4F8AEA;
margin-top: 4%;
display: block;
}

.plus {
  position: relative;
  display: block;
  height: 18px;
  width: 18px;
  background: url("plusicon.svg");
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
}

.textbox{
  width: 90%;
}
.info .row {
display: flex;
width: 100%;
justify-content: space-between;
position: relative;
height: 40%;
}


.cover {
width: 100%;
position: relative;
background: #515151;
height: 55%;
overflow: hidden;
}

.cover img {
    object-fit: cover;
    width: 100%;
    min-height: 100%;
}

.firstblock {
  display: grid;
  gap: 60px;
  grid-template-columns: 0.7fr 0.7fr 0.7fr;
  justify-content: space-between;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  margin-top: 3%;
  margin-bottom: 5%;
}

.firstblock a{
  text-decoration: none;
  color: black;
}

.secondblock div {
display: inline-block;
position: relative;
width: 45%;
margin: 5px;
padding: 5px;
background: #eee;
vertical-align: top;
}



.big-post-wrapper-green{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 96%;
  height: 481px;
  background: white;
  border-radius: 20px;;
  overflow: hidden;
  transition: transform .3s;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.big-post-wrapper-green a{
  width: 100%;
  height: 100%;
  margin: 0;
}

.big-post-wrapper-blue{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 96%;
  height: 481px;
  background: white;
  border-radius: 20px;;
  overflow: hidden;
  transition: transform .3s;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.big-post-wrapper-blue a{
  width: 100%;
  height: 100%;
  margin: 0;
}

.big-post-wrapper-orange{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 96%;
  height: 481px;
  background: white;
  border-radius: 20px;;
  overflow: hidden;
  transition: transform .3s;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.big-post-wrapper-orange a{
  width: 100%;
  height: 100%;
  margin: 0;
}

.big-post-wrapper-yellow{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 96%;
  height: 481px;
  background: white;
  border-radius: 20px;;
  overflow: hidden;
  transition: transform .3s;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.big-post-wrapper-yellow a{
  width: 100%;
  height: 100%;
  margin: 0;
}

.big-post-cover {
width: 50%;
height: 100%;
top: 0;
left: 0;
margin-right: 0;
margin-bottom: 0;
overflow: hidden;
}

.big-post-cover img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.righthalf{
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
  padding-top: 2%;
  padding-left: 2%;
}

.big-post-info {
position: relative;
height: 100%;
width: 100%;
top: 0;
right: 0;

}

.big-post-title{
width: 70%;
left: 0;
top: 0;
margin: 0;
margin-top: 2%;
color: #131313;
font-size: 30px;
font-weight: 600;
}

.big-post-string{
  position: relative;
  display: block;
  height: 0.5%;
  width: 90%;
  top: 12%;
  margin-right: 0;
  border-radius: 5px;
  background: white;
  margin-bottom: 5%;
}


.big-post-textbox{
  width: 90%;
  position: relative;
  margin-top: -3%;
}

.big-post-textbox p{
  font-size: 22px;
  color: #131313;
  font-weight: normal;
}
.big-post-pattern1{
  display: block;
  position: absolute;
  left: 48.73%;
  top: 84%;
  width: 100%;
  height: 10%;
  background-image: url("bigpostpattern1.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.big-post-pattern2{
  display: block;
  position: absolute;
  left: 49%;
  top: 84%;
  width: 100%;
  height: 10%;
  background-image: url("bigpostpattern2.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.big-post-pattern3{
  display: block;
  position: absolute;
  left: 48.8%;
  top: 84%;
  width: 100%;
  height: 10%;
  background-image: url("bigpostpattern3.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.big-post-pattern4{
  display: block;
  position: absolute;
  left: 49%;
  top: 84%;
  width: 100%;
  height: 10%;
  background-image: url("bigpostpattern4.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.big-post-button{
  position: relative;
  display: block;
  width: 21%;
  border-radius: 50px;
  background: white;
  top: 10%;
  text-align: center;
  padding-top:1.5%;
  padding-bottom:1.5%;
  /* transition: transform .1s; */
}
.big-post-button p{
  font-size: 14px;
  color: #131313;
  font-weight: 600;
  margin:0;
}

.big-post-button:hover{
opacity: .9;
}

.big-post-date{
  position: relative;
  top: -2%;
  left: 84%;
}

.big-post-date p{
  font-size: 14px;
  color: #131313;
  font-weight: normal;
}


.footercontainer{
  position: relative;
  width: 100%;
  height: 300px;
  background: #FFFFFF;
  left: 0;
  top: auto;
  bottom: 0px;
  align-self: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  box-shadow: 0px -1px 8px 2px rgba(0, 0, 0, 0.1);
}
.footerlinkcontainer{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 5%;
  padding-right: 2%;
  padding-left: 2%;
  width: 100%;
}

.footersubscribe{
  display: flex;
  position: relative;
  width: 23%;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.footersubscribe p{
  font-size: 22px;
  font-weight: 400;
  color: #AEAEAE;
  margin-top: 0;
  margin: 0;
}
.footersubscribeinput{
  position: relative;
  display: flex;
  width: 98%;
  height: 37px;
  border-radius: 50px;
  background: #F2F2F2;
}
.footersubscribeinput:hover{
cursor: pointer;
}

.footersubscribeinput p{
  font-size: 16px;
  font-weight: lighter;
  color: #AEAEAE;
  margin-left: 5%;
  margin-top: 2.5%;
}

.footersubscribeagree{
  position: relative;
  display: flex;
  flex-direction: row;
  height: 20%;;
  width: 110%;
  align-items: flex-start;
}
.checkbox{
  position: relative;
  display: flex;
  height: 15px;
  width: 32px;
  border: solid #AEAEAE 2px;
  border-radius: 3px;
  margin-right: 4%;
}
.checkbox:hover{
cursor: pointer;
}
.footersubscribeagree p{
  font-size: 12px;
  font-weight: lighter;
  color: #AEAEAE;

}

.footerlink1{
  display: flex;
  position:relative;
  flex-direction: column;
  justify-content: space-between;
  gap:8px;
}
.footerlink2{
  display: flex;
  position:relative;
  flex-direction: column;
  justify-content: space-between;
  gap:8px;
}

.linksinfooter a{
  font-size: 22px;
  font-weight: 400;
  color: #AEAEAE;
  margin-top: 0;
}

.footersocial{
  display: flex;
  position: relative;
  width: 8%;
  height: 40%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
}
.telegram{
  position: relative;
  display: flex;
  height: 24px;
  width: 24px;
  background: url("telegram.svg");
}
.telegram:hover{
cursor: pointer;
}
.zen{
  position: relative;
  display: flex;
  height: 24px;
  width: 24px;
  background: url("zen.svg");
}
.zen:hover{
cursor: pointer;
}
.vk{
  position: relative;
  display: flex;
  height: 16px;
  width: 25px;
  background: url("vk.svg");
}
.vk:hover{
cursor: pointer;
}
