// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.field{
   // margin: 40px 180px;
   // position: absolute;
   // margin-top: 100px;
   position: absolute;
   top: 1000px;
 }
 .field:nth-of-type(2){
   textarea{
     height: 5vw;
   }
 }

.actions{
  margin: 5% 0 auto 70%;
  // margin-left: 20%;
}
.actions a:hover{
background-color: #333FAC;
cursor: pointer;
color: #fff;
}
