// Place all the styles related to the promo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
  width: 100%;
  background-color: #FFFFFF;
  margin: 0;
  display: block;
  position: relative;
 font-family: 'Gotham', sans-serif;
}
// body::before{
//   content: "";
//   position: absolute;
//   left: 0;
//   top: 0;
//   right: 0;
//   background: url('images/promo.jpg');
//   width: 100%;
//   height: 100%;
//   background-size: 100% auto ;
//   display: block;
//   opacity: .0;
// }
.duga{
  position: absolute;
  top: 0%;
  left: 0%;
}
 .plate{
   position: absolute;
  display: block;
  width: 703px;
  height: 709px;
  top:348px;
  left: 676px;
}

a{
  text-decoration: none;
}

.promo a{
  font-size: 20px;
  font-style: normal;
  color: #FFFFFF;
  position: absolute;
  left: 1005px;
  top: 55px;
}
.about a{
  font-size: 20px;
  font-style: normal;
  color: #FFFFFF;
  position: absolute;
  left: 1114px;
  top: 55px;
}
.publ a{
  font-size: 20px;
  font-style: normal;
  color: #FFFFFF;
  position: absolute;
  left: 1212px;
  top: 55px;
}
h1{
  font-family: 'Gotham', sans-serif;
  font-size: 70px;
  font-style: bold;
  color: #FFFFFF;
  width: 768px;
  position: absolute;
  left: 125px;
  top: 191px;
}
.phone{
 position: absolute;
 display: block;
 width: 342px;
 height: 718.22px;
 top: 1202px;
 left: 123px;
}
.plato{
  position: absolute;
  width: 626px;
  left: 600px;
top: 1400px;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
}
.bubble{
  position: absolute;
  display: block;
  width: 1118.71px;
  height: 1015.9px;

  right: -30%;
  top: 1120px;
}
h2{
  font-family: 'Gotham', sans-serif;
  font-size: 50px;
  font-style: bold;
  color: black;
  width: 376px;
  position: absolute;
  left: 532px;
  top: 2092px;
  text-align: center;
}
.book{
  position: absolute;
width: 45px;
height: 45px;
left: 123px;
top: 2274px;
}
.search{
  position: absolute;
  width: 45px;
  height: 45px;
  left: 115px;
  top: 2442.54px;
}
.heart{
  position: absolute;
width: 50px;
height: 50px;
left: 889px;
top: 2268px;
}
.globe{
  position: absolute;
  width: 34px;
  height: 34px;
  left: 897px;
  top: 2447px;
}
.read{
  position: absolute;
width: 388px;
height: 92px;
left: 201px;
top: 2240px;

font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 40px;
}
.look{
  position: absolute;
  width: 460px;
  height: 92px;
  left: 204px;
  top: 2414px;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
}
.love{
  position: absolute;
width: 405px;
height: 92px;
left: 972px;
top: 2240px;

font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 40px;
}
.world{
  position: absolute;
  width: 407px;
  height: 92px;
  left: 956px;
  top: 2414px;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
}
h3{
  position: absolute;
width: 862px;
height: 110px;
left: 289px;
top: 2680px;

font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 61px;
text-align: center;
text-align: center;
}
.lastbubble{
position: absolute;
left: 0%;
 top: 2757.21px;
}
.green{
  position: absolute;
  width: 200px;
  height: 200px;
  left: 38px;
  top: 3190.73px;
  background: url(.png);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(-36.85deg);
}
.berry1{
  position: absolute;
width: 142px;
height: 130px;
left: 1300px;
top: 1550px;

background: url(.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
transform: rotate(-17.9deg);
}
.berry2{
  position: absolute;
  width: 102.89px;
  height: 108.66px;
  left: 1230px;
  top: 1476px;

  background: url(.png);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(-4.25deg);
}
.berry3{
  position: absolute;
width: 83.83px;
height: 88.89px;
left: 1274.59px;
top: 1370px;
}

.email{
  position: absolute;
  font-size: 36px;
  font-family: "Gotham";
  color: #EC622B;
  left: 25.5%;
  top: 44.5%;
}
.form-split3{
  position: absolute;
  height: 500%;
  width:0%;
  left: 394px;
  top:2930px;
}
.form-split3 input{
  display: block;
  height: 76%;
  width:652px;
  border: 3px solid #2C3CC8;
  background: white;
  border-radius: 49px;
  font-family: "Gotham";
  font-size:26px;
  color: #333FAC;
  padding-left: 70%;
  padding-top: 0.6%;
}
.submit{
  display: block;
  position: absolute;
  width: 652px;
height: 76px;
  left: 394px;
top: 3047px;
  /* cursor: url('images/cursor.svg'), auto; */
}
.submit:hover{
  filter: brightness(1.1);
}

.pochta{
  position: absolute;
  width: 149px;
  height: 32px;
  left: 442px;
  top: 2926px;

  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
}
.subscribe{
  position: absolute;
width: 177px;
height: 35px;
left: 632px;
top: 3043px;
color: white;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 32px;
}
