// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.sidebar{
  position: absolute;
  top: 22.5%;
  left: 2%;
  // background-color: red;
  width: 10%;
  height: 50%;
}
.sidebar h2{
  font-size: 18px;
  font-weight: 400;
}
a{
  text-decoration: none;
  color: #717171;
}

a:hover{
  color: black;
}

.users_container{
  position: absolute;
  left: 20%;
  top: 15%;
  width: 70%;
  height: 100%;
  // background: red;
}
.users_container h1{
  position: relative;
  margin-top: 0%;
  font-size: 40px;
  font-weight: bold;
}
.razdel{
  position: relative;
  margin-top: 3%;
  font-size: 18px;
  font-weight: normal;
  width: 100%;
}

table{
  width: 100%;
  border-collapse: collapse;
}
.plashka{
  background-color: #F5F5F5;
  height: 4%;
  width: 100%;
  border-radius: 6px;
  z-index: 0;
  text-align: left;
  font-size: 14px;

}
th{
  font-weight: normal;
}

th, td{
  padding: 1.5%;
}
tbody{
  text-align: left;
  font-size: 18px;
}

.button_newuser{
  position: absolute;
  top: 0%;
  right: 0%;
  height: 5%;
  width: 17%;
  background: #FE724D;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_newuser a{
  color: black;
}
.button_newuser:hover{
  background: #FFBE4D;
  cursor: pointer;
}

.sidebar{
  position: absolute;
  top: 22.5%;
  left: 2%;

  width: 15%;
  height: 100%;
}
.sidebar h2{
  font-size: 18px;
  font-weight: 400;
}
a{
  text-decoration: none;
  color: #717171;
}

a:hover{
  color: black;
}

.edit_user_container{
  position: absolute;
  left: 20%;
  top: 15%;
  width: 70%;
  height: 100%;
}
.edit_user_container h1{
  position: relative;
  margin-top: 0%;
  font-size: 40px;
  font-weight: bold;
}
.sign_up_container{
  position: absolute;
  left: 20%;
  top: 15%;
  width: 70%;
  height: 100%;
}
.sign_up_container h1{
  position: relative;
  margin-top: 0%;
  font-size: 40px;
  font-weight: bold;
}
.sign_in_container{
  position: absolute;
  left: 20%;
  top: 15%;
  width: 70%;
  height: 100%;
}
.sign_in_container h1{
  position: relative;
  margin-top: 0%;
  font-size: 40px;
  font-weight: bold;
}
.button_update_user{
  position: relative;
  padding: 1% 2%;
  background:#FFBE4D;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 2%;
}
.button_update_user:hover{
  background: #FE724D;
}
.button_delete_user{
  position: relative;
  padding: 1% 2%;
  background:#FFBE4D;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 2%;
}
.button_delete_user:hover{
  background: #FE724D;
}
.button_sign_in{
  position: relative;
  padding: 1% 2%;
  background:#FFBE4D;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 2%;
  margin-bottom: 2%;
}
.button_sign_in:hover{
  background: #FE724D;
}
.button_sign_up{
  position: relative;
  padding: 1% 2%;
  background:#FFBE4D;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 2%;
  margin-bottom: 2%;
}
.button_sign_up:hover{
  background: #FE724D;
}
.field{
  margin-top: 2%;
}
.field input{
  margin-top:1%;
}
.button_follow{
  position: relative;
  padding: 1% 2%;
  background:#FFBE4D;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.button_follow:hover{
  background: #FE724D;
}
